#tt1 {
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 5px ridge rgb(181, 181, 181);
    box-shadow: 2px 2px 4px 3px rgb(194, 188, 179);
    width: 850px;
    height: 750px;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 100px;
    text-align: left;
  }
  .tooltip {
    position: relative;
}

.tooltip-text {
    background-color: rgb(237, 235, 235);
    font-size: small;
    visibility: hidden;
    text-align: left;
    position: absolute;
    margin-top: -3px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}